*{
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
}
hr{
    background-color: aquamarine;
    height: 2px;
}

nav{
    background-color: rgb(129, 184, 147);
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline-block;
    margin: 5px 50px;
}


nav ul li a {
    text-decoration: none;
    color: tomato;
    font-size: 18px;
    font-weight: bold;
}
.head{
    background-color: antiquewhite;
    float: center;
    padding: 10px;
    text-align: center;
    color: cadetblue;
}
#pro_img{
    height: 150px;
    width: 100px;
    border: 2px solid grey;
    border-radius: 100%;
}
.grettings{
    color: brown;
    text-align:center;
}
#edu{
    padding: 10px;
    background-color: antiquewhite;
    color: cadetblue;
}